/* 全体の設定 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* ヘッダーのスタイル */
header {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 2em 0; /* パディングを増やしてヘッダーの高さを大きくします */
    margin: 0 auto; /* マージンを自動にして中央揃えします */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* テキストが浮かび上がるような影を追加 */
    position: relative; /* 他のセクションと重ならないようにします */
    z-index: 10; /* ヘッダーが他のコンテンツよりも前に表示されるようにします */
}

/* 背景画像セクション */
#background-image-section {
    background-image: url('Photo-1.png'); /* 背景画像のパス */
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin-top: 2em; /* ヘッダーとの間に余白を追加 */
}

/* 問い合わせフォームセクション */
#contact-form-section {
    background: white;
    padding: 2em;
    margin: 2em auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 640px;
    text-align: center;
}

/* 問い合わせフォームのリンクスタイル */
.form-link {
    display: inline-block;
    background: #808080;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1em;
}

/* フッターのスタイル */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative; /* 他のセクションと重ならないようにします */
    z-index: 10; /* フッターが他のコンテンツよりも前に表示されるようにします */
}
