/* 全体の設定 */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden; /* 横スクロールを防ぐために追加 */
}

/* ヘッダーのスタイル */
header {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 2em 0;
    width: 100%;
    position: relative;
    z-index: 10;
}

/* ヘッダー内のテキストアニメーション */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header h1 {
    margin: 0;
    padding: 0;
    /* テキストのフォントサイズやその他のスタイルはお好みで調整 */
}

.animated-text {
    opacity: 0; /* 最初は透明に */
    animation: fadeInRight 0.5s forwards; /* アニメーションを適用 */
    display: inline-block; /* スパンをインラインブロック要素として表示 */
    margin: 0 2px; /* 文字間の余白 */
}

/* アニメーションのディレイを各文字に適用 */
.animated-text:nth-child(1) { animation-delay: 0.5s; }
.animated-text:nth-child(2) { animation-delay: 0.6s; }
.animated-text:nth-child(3) { animation-delay: 0.7s; }
.animated-text:nth-child(4) { animation-delay: 0.8s; }
.animated-text:nth-child(5) { animation-delay: 0.9s; }
.animated-text:nth-child(6) { animation-delay: 1.0s; }

/* 背景画像セクション */
#background-image-section {
    background-image: url('Photo-1.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin-top: 2em; /* ヘッダーとの間に余白を追加 */
    width: 100%;
}

/* 新しい画像セクション */
#additional-image-section img {
    max-width: 100%;
    height: auto;
}

/* 問い合わせフォームセクション */
#contact-form-section {
    background: white;
    padding: 2em;
    margin: 2em auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 640px;
    text-align: center;
}

/* 問い合わせフォームのリンクスタイル */
.form-link {
    display: inline-block;
    background: #808080;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1em;
    transition: background-color 0.3s ease;
}

/* フッターのスタイル */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    z-index: 10;
    position: relative;
}
